{% extends 'layout.html' %}
{% block body %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 class="sub-header">证书生成</h3>
			<p>1. 进入<a href="furniture">家具图片</a>和<a href="template">模板图片</a>页面，上传家具图片和模板图片。</p>
			<p>2. 参考<a href="../static/uploads/excel/info.xlsx">Excel文件样例</a>，填写编号、产品名称、二维码信息、家具图片和模板图片等信息，其中<b>家具图片</b>和<b>模板图片</b>的名称需要与上传的图片名称<b>完全相同</b>。</p>
			<p>3. 上传Excel文件，等待结果。</p>
			<p>4. 目前上传图片只支持.jpg格式，Excel文件只支持.xlsx格式。<b>注意：如果Excel表格中的图片名称与上传文件名称不同则会出现错误信息。</b></p>
			<p>5. 如果不添加二维码图片，则Excel文件中<b>二维码信息</b>保持为空白。</b></p>
			<form role="form" class="form-inline" method="POST" enctype=multipart/form-data>
				<div class="form-group">
					{# <label for="excelfile">请选择要上传的文件</label> #}
					<input type="file" id="excelfile" name="excelfile"/>
					<p class="help-block">
						文件后缀.xlsx
					</p>
				</div>
				<button type="submit" class="btn btn-default">开始上传</button>
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			</form>
			<p><a href="{{ url_for('clear_certification') }}">删除全部证书文件</a> 
				{% if clear_done %}
			-->证书文件已经全部删除
				{% endif %}
			</p>
			{% if zip_done %}
			<p><a href="{{ url_for('download', filename="certification.zip") }}">下载全部证书文件</a></p>
			{% endif %}
			<table class="table">
				<thead>
					<tr>
						<th>
							编号
						</th>
						<th>
							产品名称
						</th>
						<th>
							二维码信息
						</th>
						<th>
							家具图片
						</th>
						<th>
							模板图片
						</th>
						<th>
							状态
						</th>
						<th>
							证书下载
						</th>
					</tr>
				</thead>
				<tbody>
					{% for d in data %}
					<tr>
						<td>{{ d['编号'] }}</td>
						<td>{{ d['产品名称'] }}</td>
						{% autoescape false %}
						<td>{{ d['二维码信息'] }}</td>
						{% endautoescape %}
						<td>{{ d['家具图片'] }}</td>
						<td>{{ d['模板图片'] }}</td>
						<td>{{ d['status'] }}</td>
						<td><a href="{{ d['url'] }}">下载</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}